{{#if showFooter}}
  <div class="wrap">
    <div class="flexbox">
      <div class="second-box">
        <div class="links">
          {{#each linkSections as |section|}}
            {{!-- <div class="list"> --}}
              <ul class="list">
                {{#each section.childLinks as |link|}}
                  <li class="footer-section-link-wrapper {{link.className}}">
                    <a class="footer-section-link" title="{{link.title}}" href="{{link.href}}"
                       target="{{link.target}}" style="color: white;">
                      {{link.text}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            {{!-- </div> --}}
          {{/each}}
        </div>
      </div>
      <div class="third-box">
        <div class="footer-links">
          {{#each smallLinks as |link|}}
            <text class="small-link {{link.className}}" title="{{link.title}}" target="{{link.target}}" 
               href="javascript:void(0)" style="color: #A1A8B0; font-size:14px;">
              {{link.text}}
            </text>
          {{/each}}
        </div>
        <div class="social">
          <a class="social-link" href="https://beian.miit.gov.cn/" 
             style="color: #A1A8B0;font-size:14px;" target="blank">
            京ICP备20031520号-1
          </a>
          <a class="social-link"
          style="color: #A1A8B0;font-size:14px;" target="blank"
           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502048658" target="_blank">
            <img src="../../../../common/police.png"/> 京公网安备11010502048658号 
          </a>
        </div>
      </div>
    </div>
  </div>
{{/if}}